<div class="homepage__roll">
  <span>Hi there! Welcome to my personal CV online ~</span>
  <!-- <span>Lorem ipsum...</!-->
</div>
<div class="home__component">
  <div class="home__left-side">
    <div class="cv__left-side__header flex-column">
      <img src="assets/images/avatar1.png" alt="">
      <span class="cv__name">Qui Nguyen Ngoc</span>
      <span class="cv__title">Developer</span>
    </div>
    <div class="cv__left-side__body flex-column">
      <span class="cv__label">Personal Info</span>
      <div class="flex-column">
        <span>Phone</span>
        <span>(+84) 932.931.643</span>
        <span>Email</span>
        <span>nquizx@gmail.com</span>
        <span>Facebook</span>
        <span>https://facebook.com/qui.innovator</span>
      </div>
      <span class="cv__label">Hard Skills</span>
      <div class="flex-column">
        <span>Typescript/Javascript</span>
        <span>Angular</span>
        <span>HTML5</span>
        <span>CSS/SCSS</span>
        <span>Python</span>
        <span>Django/Django REST Framework</span>
        <span>MySQL</span>
        <span>PostgreSQL</span>
        <span>Linux/Ubuntu</span>
        <span>Basic Data Science</span>
        <span>Basic DevOps</span>
        <span>Server Deployment</span>
      </div>
      <span class="cv__label">Soft Skills</span>
      <div class="flex-column">
        <span>Team-working</span>
        <nb-progress-bar class="progress-bar" [value]="85"></nb-progress-bar>
        <span>Patience</span>
        <nb-progress-bar class="progress-bar" [value]="90"></nb-progress-bar>
        <span>Communication</span>
        <nb-progress-bar class="progress-bar" [value]="80"></nb-progress-bar>
        <span>Self-learning</span>
        <nb-progress-bar class="progress-bar" [value]="99"></nb-progress-bar>
      </div>
      <span class="cv__label">Language</span>
      <div class="flex-column">
        <span>English</span>
        <span>Vietnamese</span>
      </div>
    </div>
  </div>
  <div class="home__right-side flex-column">
    <span>Make with &hearts; for getting a better job.</span>

    <span class="cv__label">Experience</span>
    <div class="cv__content-body">
      <div class="cv__content-body__time">Jun 2019 - Nov 2019</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">QCOOP</span>
        <div class="cv__content-body__info flex-column">
          <li>Front-end Developer</li>
          <li>Website Development</li>
          <li>Web-mobile Aplication Development</li>
        </div>
        <span class="cv__content-body__label">Coderschool</span>
        <div class="cv__content-body__info flex-column">
          <li>Developer Circles Vietnam Innovation Challenge</li>
          <li>Data Science Track (10 weeks Training Program)</li>
        </div>
      </div>
    </div>

    <div class="cv__content-body">
      <div class="cv__content-body__time">Feb 2018 - Jul 2018</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">Renesas Design Vietnam Co.</span>
        <div class="cv__content-body__info flex-column">
          <li>Hardware Design Internship</li>
        </div>
      </div>
    </div>

    <span class="cv__label">Education</span>
    <div class="cv__content-body">
      <div class="cv__content-body__time">July 2018 - April 2019</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">INTEK Institute of Applied Technology</span>
        <div class="cv__content-body__info flex-column">
          <li>Student</li>
          <li>Software Engineer Career Path</li>
        </div>
      </div>
    </div>

    <div class="cv__content-body">
      <div class="cv__content-body__time">2013 - 2018</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">University of Science</span>
        <div class="cv__content-body__info flex-column">
          <li>Student</li>
          <li>Faculty of physics and engineering physics</li>
        </div>
      </div>
    </div>

    <span class="cv__label">Certifications</span>
    <div class="cv__content-body">
      <div class="cv__content-body__time">Jul - Sep 2019</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">Developer Circles Vietnam Innovation Challenge</span>
        <div class="cv__content-body__info flex-column">
          <li>Data Science Track</li>
          <li>10 weeks Training Program</li>
        </div>
      </div>
    </div>

    <div class="cv__content-body">
      <div class="cv__content-body__time">Mar - Nov 2017</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">Renesas Design Contest</span>
        <div class="cv__content-body__info flex-column">
          <li>2nd Prize</li>
          <li>TOP 10 Finalists</li>
        </div>
      </div>
    </div>
    <span class="cv__label">Publications</span>
    <div class="cv__content-body">
      <div class="cv__content-body__time">Jul 21st - 22nd 2018</div>
      <div class="cv__content-body__detail flex-column">
        <span class="cv__content-body__label">Angel Hackathon 2018</span>
        <div class="cv__content-body__info flex-column">
          <li>Angelhack Hackathon Participation</li>
        </div>
      </div>
    </div>
  </div>
</div>