.homepage__roll {
  height: 10vh;
  background-color: white;
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.home__component {
  display: flex;
  flex-flow: row nowrap;

  .home__left-side {
    flex: 1 1 30%;
    max-width: 30%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    padding-bottom: 1rem;

    span {
      white-space: normal;
      word-wrap: normal;
    }

    .cv__left-side__header {
      margin: 1rem;
      line-height: 1.5rem;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
        margin-bottom: 1rem;
        border-radius: 50%;
      }

      .cv__name {
        font-weight: 600;
      }
      .cv__title {

      }
    }

    .cv__left-side__body {
      line-height: 1.5rem;

      .cv__label {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: 600;
        height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 1rem;
        margin: 0.5rem 0;
      }

      span {
        padding-left: 1rem;
        line-height: 1.5rem;
      }
      
      .progress-bar {
        margin-bottom: 0.5rem;
      }
    }
  }

  .home__right-side {
    flex: 1 1 70%;
    max-width: 70%;
    padding: 1rem;
    background-color: white;
    line-height: 1.5rem;

    .cv__label {
      padding-top: 0.25rem;
      border-top: 3px solid #aaa;
      border-bottom: 3px solid #aaa;
      font-weight: 600;
      margin: 0.5rem 0;
    }

    .cv__text {

    }

    .cv__content-body {
      display: flex;
      flex-flow: row nowrap;
      line-height: 1.5rem;

      .cv__content-body__time {
        flex: 1 1 20%;
        max-width: 20%;
      }

      .cv__content-body__detail {
        flex: 1 1 80%;
        max-width: 80%;
        margin-left: 1rem;

        .cv__content-body__label {
          font-weight: 600;
          line-height: 1.5rem;
        }

        .cv__content-body__info {
          margin-left: 1rem;

          li {
            font-family: 'iCielAvantGardeGothic-Book';
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;  
}