<nb-card class="cv__certifications">
  <nb-card-header>
    <span>My certifications</span>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab class="cert-tab" tabTitle="Developer Circles Vietnam Innovation Challenge">
        <img src="assets/images/devc.jpg" alt="">
      </nb-tab>
      <nb-tab class="cert-tab" tabTitle="Renesas Design Contest">
        <img src="assets/images/2ndPrize.jpg" alt="">
        <img src="assets/images/top10Renesas.jpg" alt="">
      </nb-tab>
      <nb-tab class="cert-tab" tabTitle="Angelhack Hackathon">
        <img src="assets/images/angelhackHackathon.jpg" alt="">
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
